<h1 class="text-primary text-center p-4 bg-light">Reset Your Password
<span class="float-right hover text-right" (click)="closeTab()">
    <img
      width="40"
      style="border-radius: 50%; padding: 10px"
      src=".../../../assets/x-mark.png"
    />
  </span></h1>
<div class="col-md-12">
    <form [formGroup]="form1">
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" />
            <div class="alert alert-danger" *ngIf="!f['password'].valid && f['password'].touched">
                Password must contain more than 8 characters, 1 upper case letter, and 1
                special character
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="cnfpassword" />
            <div class="alert alert-danger" *ngIf="!f['cnfpassword'].valid && f['cnfpassword'].touched">
                Password must contain more than 8 characters, 1 upper case letter, and 1
                special character
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Submit
        </button>
    </form>
</div>