<div class="container">
    <h1 class=text-center>Sign-Up</h1>
    <div class="picture-container">
        <div class="picture">
            <img src={{url}} style="height:150px;width:150px"> <br />
            <input type="file" (change)="onselectFile($event)">
            <div *ngIf="f['image'].touched && f['image'].invalid" class="alert alert-danger">
                <div *ngIf="f['image'].errors && f['image'].errors['required']">
                    Image is  Required
                </div>
            </div>
        </div>
        <h6 class="">Upload Profile</h6>

    </div>
</div>

<div class="container">
    <form [formGroup]="SignoutForm" (ngSubmit)="SaveForm()">

        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" id="email" formControlName="email" class="form-control"
            >
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">
                    Email is Required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control">
            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                <div *ngIf="f['password'].errors && f['password'].errors['required']">
                    Password is Required
                </div>
            </div>
        </div>
        
    <div class="form-group">
        <mat-form-field class="example-full-width" appearance="outline">
           <label for="confirm_password">ConfirmPassword</label>
            <input matInput type="confirm_password" id="confirm_password" formControlName="confirm_password" 
            [type]="hide ? 'password' : 'text'" class="form-control" >
                   <button mat-icon-button matSuffix type="button" class="text-black-50" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>  
                    <div *ngIf= "f['confirm_password'].touched && f['confirm_password'].invalid" class="alert alert-danger">
                        <div *ngIf= "f['confirm_password'].errors && f['confirm_password'].errors['required']">
                            Password is Required
                        </div>
                        <div *ngIf= "f['confirm_password'].errors && f['confirm_password'].errors['confirmedValidator']">
                            Password  and confirmmed Password Must match
                        </div>
                    </div>                       
        </mat-form-field>
    </div>

        <div class="d-flex justify-content-center pt-3">          
            <button class="btn btn-primary"> Submit</button>           
        </div>
    </form>
</div>

