
    <div class="container-fluid" style="padding:1px;">
        <div class="card">
        <div class="row">
            <div class="col-2">
                <img src="../../../assets/startaskerLogo.png" style="height: 70px; width:70px">
            </div>
            <div class="col-8 text-center">
                <h3 class="font-weight-bold" style="text-decoration:underline">Sign Out</h3>
               <div style="font-weight: 500;">
                Do you want to Sign out
               </div>
           
            </div>
        </div>
        <div class="d-flex justify-content-end pb-2 mt-3">
            <button mat-raised-button (click)="close()" class="text-black-50 rounded-pill hover" style="font-weight: 400;font-weight: 400; border: 1px solid grey;">
                &nbsp; &nbsp;   Cancel &nbsp; &nbsp;</button>&nbsp; &nbsp;
            <button mat-raised-button (click)="submit()" class="text-black-50 rounded-pill hover bg-aqua" style="font-weight: 400;font-weight: 400; ">
                &nbsp; &nbsp; Sign Out &nbsp; &nbsp;</button>&nbsp;
        </div>
    </div>
</div>